AZURE_ENDPOINT = "https://mes-dev-agentic-coding.services.ai.azure.com/openai/v1" #openai endpoint in azure used
API_KEY = "<Your_API_Key>"
LLM__DEPLOYMENT_NAME = "<name_of_deployed_model>"
EMBEDDING_DEPLOYMENT_NAME = "<name_of_deployed_model>"

